<footer class="footer footer-center bg-blue-800 text-base-content p-4 flex flex-col sm:flex-row items-center justify-between mb-10 lg:mb-0">
    <div class="flex items-center text-white mb-4 sm:mb-0">
        <img src="../../tv.png" class="w-6 h-6 mr-2" alt="TV Icon"/>
        <p class="text-sm sm:text-base">© 2024 All rights reserved.</p>
    </div>
    <div class="hidden sm:flex items-center space-x-4 text-white">
        <a href="#" class="text-white hover:text-gray-300 transition-colors duration-200">Privacy</a>
        <a href="#" class="text-white hover:text-gray-300 transition-colors duration-200">Policy</a>
        <a href="#" class="text-white hover:text-gray-300 transition-colors duration-200">Terms of Service</a>
    </div>
</footer>


