<div class="md:hidden bg-blue-800 text-white px-4 py-2 hidden" id="mobile-menu">
    <a href="#" class="block py-2 hover:text-gray-200">Home</a>
    <a href="/categories" class="block py-2 hover:text-gray-200">Categories</a>
    <a href="/channels" class="block py-2 hover:text-gray-200">Channels</a>
    <a href="/newchannel" class="block py-2 hover:text-gray-200">Add New Channel </a>

</div>